<header style="background-color: red"></header>
<div class="row" style="background-color: red">
	<div class="col-sm-7">
		<div class="panel panel-default">
			<div class="panel-body status">
			<div class="who clearfix">
					<h4>¿Quienes Somos?</h4>
				</div>
				<div class="row">
					<div class="col-sm-12">
						Somos una de las Franquicias interceramic más grandes de la republica Mexicana, que a través de 2 Empresas atendemos el 90% de los mercados de los Estados de Sinaloa y Sonora.

						Tenemos más de 30 años formando parte de la exitosa Red de Franquicias interceramic.
					</div>					
				</div>
			</div>
		</div>
		<div class="panel panel-default">
	        <div class="panel-body status">
				<div class="who clearfix">
					<h4>Misión</h4>
				</div>
				<div class="row">
					<div class="col-sm-12">
						Extender las expectativas de nuestros clientes en el mercado de cerámica, muebles de baños, piedras naturales y materiales de instalación ofreciendo los diseños más innovadores con los productos de la más alta calidad a nivel mundial, por medio de un equipo de trabajo altamente capacitado ofreciendo un excelente nivel de servicio a través de nuestra eficiente red de distribución para elevar el nivel de vida de nuestros clientes.
					</div>					
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body status">
				<div class="who clearfix">
					<h4>Visión</h4>
				</div>
				<div class="row">
					<div class="col-sm-12">
						Ser simplemente la mejor empresa de nuestro ramo a nivel global. Ser líder en calidad, innovación y servicio viviendo día a día nuestros valores básicos de respeto, humildad y honestidad por medio de un compromiso de trabajo en equipo, excelencia en comunicación y un alto grado de responsabilidad siempre a favor de nuestros clientes.
					</div>					
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body status">
				<div class="who clearfix">
					<h4>Valores Diferenciadores</h4>
					<br/>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<p>INNOVACION</p>
						<p>Está presente en cada etapa del proceso, desde la selección de las materias primas para producción, hasta el envío del producto terminado a la obra de nuestros clientes.</p>
						 
						<p>CALIDAD</p>
						<p>Es un valor que nos distingue y nos proporciona ventaja sobre nuestros competidores. Nos ha permitido ser punta de lanza en el mercado con nuestros productos y servicios.</p>
						 
						<p>SERVICIO</p>
						<p>Nuestros clientes deben recibir satisfacción total en sus necesidades tanto en los productos como en el servicio que les ofrecemos. Deben sentir que son nuestra razón de ser durante todo el proceso.</p>
					</div>					
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-5">
		<div class="panel panel-default">

			<div class="panel-body status">

				<div class="who clearfix">
				<input id="filter"  ng-model="buscar.nombre" type="text" placeholder="Buscar" />
				   <br/><br/>
					<h4>Lista de Sucursales</h4>
				</div>
					<br/>


                 
				<div class="who clearfix" style="margin-bottom: 5px;"  ng-repeat="sucursale in lis.sucursales | orderBy:'nombre' | filter:buscar">
					<img src="{{sucursale.imagen}}" alt="img" width="60px" height="70px" class="online">
					<span class="name font-sm">  <b><a href="/sucursalVista/{{sucursal._id}}">{{sucursale.nombre}} </a><span class="pull-right font-xs text-muted"><i>{{sucursale.ciudad}}</i></span> </b>
					</span>
				</div>


			</div>
		</div>
	</div>
	<div class="col-sm-5">
		<div class="panel panel-default">

			<div class="panel-body status">

				<div class="who clearfix">
                 
				<input id="filter"  ng-model="search.nombre" type="text" placeholder="Buscar" />
		
				<br/> <br/><br/>
					<h4>Lista de Empleados</h4>
				</div>

				<br/>

				<div class="who clearfix"  ng-repeat="listaEmpleado in lis.listaEmpleados">
                
				<div class="who clearfix"  style="margin-bottom: 5px;" ng-repeat="empleado in listaEmpleado | orderBy:'nombre' | filter:search ">
					<img src="{{empleado.imagen}}" alt="img" width="60px" height="70px" class="online">
					<span class="name font-sm">  <b> <i ng-show="lis.esCumpleanero(empleado.fechaNac)" class="fa fa-birthday-cake" aria-hidden="true"></i> <a href="/perfilGerente/{{gerente._id}}">{{empleado.nombre}}&nbsp;{{empleado.apPaterno}}&nbsp;{{empleado.apMaterno}} </a><span class="pull-right font-xs text-muted"><i>{{lis.getDepartamento(empleado.departamento_id)}}</i></span> </b>
					</span>
					<br>
				</div>
					
					<!--<span class="name font-sm" ng-repeat=" empleado in listaEmpleado | orderBy:'nombre' | filter:search">{{empleado.nombre}}</span>-->
					<br>
				</div>
				<!--<div class="who clearfix"  ng-repeat="gerente in lis.gerentes">
					<img src="{{gerente.imagen}}" alt="img" width="60px" height="70px" class="online">
					<span class="name font-sm">  <b> <i ng-show="lis.esCumpleanero(gerente.fechaNac)" class="fa fa-birthday-cake" aria-hidden="true"></i> <a href="/perfilGerente/{{gerente._id}}">{{gerente.nombre}}&nbsp;{{gerente.apPaterno}}&nbsp;{{gerente.apMaterno}} </a><span class="pull-right font-xs text-muted"><i>{{lis.getDepartamento(gerente.departamento_id)}}</i></span> </b>
					</span>
					<br>
				</div>-->

				<!--<div class="who clearfix"   ng-repeat="jefeArea in lis.jefeAreas">
					<img src="{{jefeArea.imagen}}" alt="img" width="60px" height="70px" class="offline">
					<span class="name font-sm">  <b> <i ng-show="lis.esCumpleanero(jefeArea.fechaNac)" class="fa fa-birthday-cake" aria-hidden="true"></i> <a href="/perfilJefe/{{jefeArea._id}}" >{{jefeArea.nombre}}&nbsp;{{jefeArea.apPaterno}}&nbsp;{{jefeArea.apMaterno}} </a><span class="pull-right font-xs text-muted"><i>{{lis.getDepartamento(jefeArea.departamento_id)}}</i></span> </b>
						<br>
					</span>
				</div>
			

				<div class="who clearfix"   ng-repeat="empleado in lis.empleados">
					<img src="{{empleado.imagen}}" alt="img" width="60px" height="70px" class="away">
					<span class="name font-sm">  <b> <i ng-show="lis.esCumpleanero(empleado.fechaNac)" class="fa fa-birthday-cake" aria-hidden="true"></i> <a href="/perfil/{{asesorVenta._id}}">{{empleado.nombre}}&nbsp;{{empleado.apPaterno}}&nbsp;{{empleado.apMaterno}}</a> <span class="pull-right font-xs text-muted"><i>{{lis.getDepartamento(empleado.departamento_id)}}</i></span> </b>
						<br>
					</span>
				</div>-->

			</div>
		</div>
	</div>
	
</div>