<div class="row">
	<div class="col-sm-12">
		<div class="well well-sm">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<div class="well well-light well-sm no-margin no-padding">
						<div class="row">
							<div class="col-sm-12">
								<div id="myCarousel" class="carousel profile-carousel">
		
									<div class="air air-top-left padding-10">
										<h4 class="txt-color-white font-md"><i class="fa fa-calendar"></i>&nbsp;&nbsp;{{perfil.jefeArea.fechaIn | date:"dd-MM-yyyy"}}<small> <a class="btn btn-primary" href="alumnos/{{al.alumno._id}}" ng-show="elMismo(alumno._id)">Modificar</a></small></h4>
										
									</div>
									<ol class="carousel-indicators">
										<!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
								
									</ol>

									<div class="carousel-inner">
										<!-- Slide 1 -->
										<div class="item active">
											<img src="{{perfil.jefeArea.fondo || 'img/demo/s1.jpg'}}" alt="" style="width:100%">
										</div>
													
									</div>
								</div>
							</div>


							

							<div class="col-sm-12">
								<div class="row">
									<div class="col-sm-3 profile-pic">
										<img style="width: 100px; height: 100px;
										border-radius: 150px; -webkit-border-radius: 150px; -moz-border-radius: 150px;"  src="{{perfil.jefeArea.imagen}}" >
										
									</div>



									<div class="air air-bottom-right padding-10">
									<div class="col-sm-8">
									<input type="text" id="input" class="form-control" style="visibility: visible;" placeholder="Pegar imagen aqui" ng-model="perfil.jefeArea.fondo" >
								
									</div>
										<a  style="visibility: visible;" ng-click="perfil.editarFondo(perfil.jefeArea)" id="guardar" class="btn txt-color-white bg-color-teal btn-sm" >Guardar</a>
										<a  style="visibility: hidden;" ng-click="perfil.mostrarBtnFondo(perfil.jefeArea)" id="botonMostrar" class="btn txt-color-white bg-color-teal btn-sm">Editar Fondo</a>
			 									
								 </div>




									<div class="col-sm-6">
										<h1>{{perfil.jefeArea.nombre}}&nbsp; <span class="semi-bold">&nbsp;{{perfil.jefeArea.apPaterno}}&nbsp;{{perfil.jefeArea.apMaterno}}</span>
										<br>
										<small> empleado</small></h1>
										<ul class="list-unstyled">
											<li>
												<p class="text-muted">
													<i class="fa fa-phone"></i>&nbsp;&nbsp;<span class="txt-color-darken">{{perfil.jefeArea.telefono}}</span>
												</p>
											</li>
											<li>
												<p class="text-muted">
													<i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="mailto:{{al.alumno.correo}}">{{perfil.jefeArea.correo}}</a>
												</p>
											</li>
											<li>
												<p class="text-muted">
													<i class="fa fa-birthday-cake">{{perfil.jefeArea.fechaNac | date:"dd-MM-yyyy"}}</i>&nbsp;&nbsp;<span class="txt-color-darken"></span>
												</p>
											</li>

											<li>
												<p class="text-muted">
												{{perfil.jefeArea.acerca }}&nbsp;&nbsp;<span class="txt-color-darken"></span>
												</p>
											</li>
											<li >
											<button class="btn btn-primary" id="editar" style="visibility: hidden;" ng-click="perfil.editarJefe()">Editar</button>
											</li>

											<div class="col-sm-8">
											<textarea type="text" class="form-control" style="visibility: visible;" id="acerca" placeholder="Escribir acerca de mi" ng-model="perfil.jefeArea.acerca"></textarea>
						 					<button class="btn btn-primary" id="botonGuardar" style="visibility: visible;" ng-click="perfil.insertarJefe(perfil.jefeArea)">Guardar</button>
			  								</div>

										
										</ul>
										
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>