<h2>Artículos</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{art.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevoarticulos" ng-click="art.nuevoArticulos()">
		 {{art.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		
		<div class="collapse" id="collapseExample">
			<form class="form-horizontal" role="form">
		  	<div class="well">	    
			    <div class="row">
			    	<div class="col-sm-12">	
			    	<div class="row">	 			  
					    <!--<div class="col-sm-3">
						    <label>Nombre</label>
					    	<input type="text" class="form-control" placeholder="Nombre" ng-model="art.articulo.nombre" required>
					    </div>-->
					    <div class="col-sm-3">
						<label>Categoria</label>
						<select class="form-control select2" placeholder="Seleccionar Categoria" ng-model="art.articulo.categoriasArt_id">
						  <option ng-repeat="categoriasArt in art.categoriasArts" value="{{categoriasArt._id}}">
						  	{{categoriasArt.nombre}}
						  </option>
						</select>
							</div>
							<div class="col-sm-6">
						    <label>Imagen</label>
					    	<input type="text" class="form-control" placeholder="Imagen" ng-model="art.articulo.imagen" required>
					    </div>
					    
					    </div>	
					    </div>
					    <div class="col-sm-12">
					    <div class="row">
					    <div class="col-sm-4">
						    <label>Titulo</label>
					    	<input type="text" class="form-control" placeholder="Titulo" ng-model="art.articulo.titulo" required>
					    </div> 			  
					    
					    </div>
					    <br/>
                      <div class="row">
			    	 <div class="col-sm-8">
					    <div  id="summernote"  ng-model="art.articulo.nota" ></div>
			    	</div>
			    	</div>					     
			    	</div>
			    	
			    </div>  
			  </div> 
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" ng-click="art.guardar(art.articulo)" value="Guardar" class="btn btn-primary" ng-show="art.action">
						<input type="submit" ng-click="art.actualizar(art.articulo)" value="Actualizar" class="btn btn-primary" ng-show="!art.action">	
					</div>
				</div>				  
		  </form>
		</div>
	</div>
</div>
<br/>



<div class="well padding-10" ng-repeat="articulo in art.articulos">

	<div class="row">
		<div class="col-md-4">
			<img ng-src="{{articulo.imagen}}" class="img-responsive" alt="img">
		
		</div>


		<div class="col-md-8 padding-left-0">
	
			<h3 class="margin-top-0"><p>{{articulo.titulo}} <span class="pull-right">{{articulo.fecha | date:"dd-MM-yyyy"}}</span> <br/> </p><br><small class="font-xs"><i>Publicado Por <a href="javascript:void(0);">{{articulo.nombre}}</a></i></small></h3>

			<h4 class=" margin-top-0 pull-right"></h4>
			
		
			<span ng-bind-html="articulo.nota"></span>
			<br/>
			<a class="btn btn-primary" ng-click="art.editar(articulo._id)" ng-show="art.tienePermiso()">Editar</a>
			<a class="btn btn-danger" ng-click="art.cambiarEstatus(articulo._id)" ng-show="art.tienePermiso()">Desactivar</a>
		</div>
	</div>
</div>
		


