<h2>Ventas</h2>
<div class="row">
	<div class="col-sm-12">
		<div>
			<form class="form-horizontal" role="form" data-parsley-validate>
		  	<div class="well">	    
			    <div class="row">
			    	<div class="col-sm-12">			 			  
					    <div class="col-sm-4">
						    <label>Seleccione Archivo</label>
                            <div class="cv"> Would you like to attach you CV? <a href="" id="resume_link">Click here</a></div>
    <input type="file" id="resume" style="visibility: hidden">

                           

					    </div>
					  
					     
			    	</div>
			    </div>  
			    </div> 











				<div class="row">
					<div class="col-sm-12 file_button_container" >
						<input type="submit" ng-click="ven.guardar(venta)" value="Guardar" class="btn btn-primary" ng-show="ven.action">
						<!--<input type="submit" ng-click="ven.actualizar(articulo)" value="Actualizar" class="btn btn-primary" ng-show="!ven.action">	-->

					</div>
				</div>
				  
		  </form>
		</div>
	</div>
</div>
<br/>



