<h3 >Culiacán Sinaloa México <br/>
{{hom.dia()}} {{hom.mes()}} de {{hom.year()}}
<br/><span  class="pull-right">Muro Web interceramic de Grupo Kuroda</span> </h3>



<section id="widget-grid" data-widget-grid="data-widget-grid" >
 <div class="row">
    <div class="col-sm-12">
      <div data-widget-color="blue" style="color: #848484" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-jarvis-widget="data-jarvis-widget" >
        <header>
          <h2>Bienvenido</h2>
        </header>
        <div>
          <div class="widget-body">
           <div class="col-sm-12" >
            <h3 class="card-header">¡Hola! Bienvenido a este Centro de información para todos los miembros de interceramic de Grupo Kuroda.
            En el encotrarás información importante que te ayudará a desempeñar mejor tu trabajo, nuestros resultados  y conocerás más la empresa donde trabajas.</h3>
            <div class="card card-block">
              <h8 class="card-title" ng-bind-html=""></h8>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3> Noticias</h3>

  <div class="row">
    <div class="col-sm-12">
      <div data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-jarvis-widget="data-jarvis-widget" ng-repeat="noticia in hom.noticias">
        <header>
          <h2>{{noticia.nombre}}</h2>
        </header>
        <div>
          <div class="widget-body">
           <div class="col-sm-12" >
            <h3 class="card-header">{{noticia.titulo}}</h3>
            <div class="card card-block">
              <h8 class="card-title" ng-bind-html="noticia.nota"></h8>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <h3> Articulos</h3>

  <div class="well padding-10" ng-repeat="articulo in hom.articulos">
  <div class="row">
    <div class="col-md-4">
      <img ng-src="{{articulo.imagen}}" class="img-responsive" alt="img">
    </div>
    <div class="col-md-8 padding-left-0">
      <h3 class="margin-top-0"><p>{{articulo.titulo}} <span class="pull-right">{{articulo.fecha | date:"dd-MM-yyyy"}}</span> <br/> </p><br><small class="font-xs"><i>Publicado Por <a href="javascript:void(0);">{{articulo.nombre}}</a></i></small> <span class=" margin-top-0 pull-right">{{art.getCategoria(articulo.categoriasArt_id)}}</span>  </h3>
      <span ng-bind-html="articulo.nota"></span>
      <br/>
      <a class="btn btn-primary" ng-click="art.editar(articulo._id)" ng-show="art.tienePermiso()">Editar</a>
      <a class="btn btn-danger" ng-click="art.cambiarEstatus(articulo._id)" ng-show="art.tienePermiso()">Desactivar</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-jarvis-widget="data-jarvis-widget" >
      <header>
        <h2>Explora</h2>
      </header>
      <div>
        <div class="widget-body">
         <div class="col-sm-12" >
          <h3 class="card-header">Te invitamos a conocer las secciones de nuestro Muro Web y su contenido, tales como Eventos, Librero y la Sección de resultados.
           
          Conoce más de tu Empresa en Quienes Somos.
          </h3>
          <div class="card card-block">
            <h8 class="card-title" ng-bind-html=""></h8>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="col-sm-6 ">
    <div data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-jarvis-widget="data-jarvis-widget" >
      <header>
        <h2>Eventos</h2>
      </header>
      <div>
        <div class="widget-body">
          <div class="col-sm-12" >
            <h3 class="card-header">

            <a class="btn btn-{{hom.mostrarEvento == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
      href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevoseccion" ng-click="hom.nuevoSeccionEvento()">
   {{hom.mostrarEvento == true ? 'Agregar texto' : 'Cancelar'}}
    </a>
    <div class="collapse" id="collapseExample" >
           
             <textarea ng-show="hom.tienePermiso()" class="form-control"  placeholder="Descripción"  ng-model="hom.seccion.eventoSeccion">Descripción</textarea>
        
               <a ng-if="hom.tienePermiso()" class="btn btn-primary" ng-click="hom.actualizarSeccionEvento(hom.seccion)" ng-show="!hom.accionEvento">Actualizar</a><br/>

              <a ng-if="hom.tienePermiso()" class="btn btn-primary" ng-click="hom.guardarSeccionEvento(seccion)" value="Guardar" ng-show="hom.accionEvento">Guardar</a>
            <br/>
    </div>
            <h4  ng-repeat="seccion in hom.secciones">{{seccion.eventoSeccion}} <br/>
            <a  ng-show="hom.tienePermiso()" class="btn btn-primary btn-sm" ng-click="hom.editarSeccionEvento(seccion._id)">Editar</a>
             <a  ng-show="hom.tienePermiso()" class="btn btn-danger btn-sm" ng-click="hom.cambiarEstatusSeccionEvento(seccion._id)">Borrar</a>
            </h4>
            </h3>
            <div class="card card-block">
              <h8 class="card-title" > </h8>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="col-sm-6 col-sm-offset-6">
    <div data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-jarvis-widget="data-jarvis-widget" >
      <header>
        <h2>Librero</h2>
      </header>
      <div>
        <div class="widget-body">
          <div class="col-sm-12" >
            <h3 class="card-header">

            <a ng-show="hom.tienePermiso()" class="btn btn-{{hom.mostrarLibrero == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
      href="#collapseExampleLibrero" aria-expanded="false" aria-controls="collapseExampleLibrero" id="nuevoseccionLibrero" ng-click="hom.nuevoSeccionLibrero()">
     {{hom.mostrarLibrero == true ? '  Agregar Texto' : 'Cancelar'}}
    </a>
    <div class="collapse" id="collapseExampleLibrero" ng-show="hom.tienePermiso()">
           
             <textarea class="form-control"  placeholder="Descripción"  ng-model="hom.seccionLibrero.libreroSeccion">Descripción</textarea>
        
               <a class="btn btn-primary" ng-click="hom.actualizarSeccionLibrero(hom.seccionLibrero)" ng-show="!hom.accionLibrero">Actualizar</a><br/>

              <a class="btn btn-primary" ng-click="hom.guardarSeccionLibrero(seccionLibrero)" value="Guardar" ng-show="hom.accionLibrero">Guardar</a>
            <br/>
    </div>
            <h4  ng-repeat="seccionLibrero in hom.seccionesLibrero">{{seccionLibrero.libreroSeccion}} <br/>
            <a ng-show="hom.tienePermiso()" class="btn btn-primary btn-sm" ng-click="hom.editarSeccionLibrero(seccionLibrero._id)">Editar</a>
             <a ng-show="hom.tienePermiso()" class="btn btn-danger btn-sm" ng-click="hom.cambiarEstatusSeccionLibrero(seccionLibrero._id)">Borrar</a>
            </h4>
            </h3>
            <div class="card card-block">
              <h8 class="card-title" > </h8>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-sm-offset-6">
    <div data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-jarvis-widget="data-jarvis-widget" >
      <header>
        <h2>Resultados</h2>
      </header>
      <div>
        <div class="widget-body">
          <div class="col-sm-12" >
            <h3 class="card-header">

            <a ng-show="hom.tienePermiso()" class="btn btn-{{hom.mostrarResultado == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
      href="#collapseExampleResultado" aria-expanded="false" aria-controls="collapseExampleResultado" id="nuevoseccionresultado" ng-click="hom.nuevoSeccionResultado()">
     {{hom.mostrarResultado== true ? '  Agregar Texto' : 'Cancelar'}}
    </a>
    <div class="collapse" id="collapseExampleResultado" ng-show="hom.tienePermiso()">
           
             <textarea class="form-control"  placeholder="Descripción"  ng-model="hom.seccionResultado.ResultadosSeccion">Descripción</textarea>
        
               <a class="btn btn-primary" ng-click="hom.actualizarSeccionResultado(hom.seccionResultado)" ng-show="!hom.accionResultado">Actualizar</a><br/>

              <a class="btn btn-primary" ng-click="hom.guardarSeccionResultado(seccionResultado)" value="Guardar" ng-show="hom.accionResultado">Guardar</a>
            <br/>
    </div>
            <h4   ng-repeat="seccionResultado in hom.seccionesResultados">{{seccionResultado.ResultadosSeccion}} <br/>
            <a  ng-show="hom.tienePermiso()" class="btn btn-primary btn-sm" ng-click="hom.editarSeccionResultado(seccionResultado._id)">Editar</a>
             <a ng-show="hom.tienePermiso()" class="btn btn-danger btn-sm" ng-click="hom.cambiarEstatusSeccionResultado(seccionResultado._id)">Borrar</a>
            </h4>
            </h3>
            <div class="card card-block">
              <h8 class="card-title" > </h8>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>

</div>


</section>



<div class="container">
  
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Felicita a tu compañero en su dia</h4>
        </div>
      
        <div class="modal-body" ng-repeat="(key,cumpleanero) in hom.cumpleaneros">
      
          <img src="{{cumpleanero.imagen}}" alt="img" width="60px" height="70px" class="online">
          <span class="name font-sm">  <b>  {{cumpleanero.nombre}} {{cumpleanero.apPaterno}} {{cumpleanero.apMaterno}} <span class="pull-right font-xs text-muted"><i></i></span> </b>
          <span class="name font-sm">{{cumpleanero.departamento}}</span>
            <div class="pull-right col-sm-6">
            <div class="row" >

              <input type="text" class="form-control" placeholder="Escribe tu comentario aqui" ng-model="feli.key">
              <button  type="button" class="btn btn-primary" ng-click="hom.guardarFeli(feli.key, cumpleanero._id)">Felicitar</button>
              <br/>
             
            </div>
            </div>
          
      
          </span>
          <br>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      
    </div>
  </div>
</div>


