<div class="row" style="background-color: #f3f3f3;  " >


<h3 >Culiacan Sinaloa México <br/>
{{hom.dia()}} {{hom.mes()}} de {{hom.year()}}
<br/><span  class="pull-right">Muro Web interceramic de Grupo Kuroda</span> </h3>



<section id="widget-grid" data-widget-grid="data-widget-grid" >
 <div class="row">
    <div class="col-sm-12">
      <div data-widget-color="blue" style="color: #848484" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-jarvis-widget="data-jarvis-widget" >
        <header>
          <h2>Bienvenido</h2>
        </header>
        <div>
          <div class="widget-body">
           <div class="col-sm-12" >
            <h3 class="card-header">¡Hola! Bienvenido a este Centro de información para todos los miembros de interceramic de Grupo Kuroda.
            En el encotrarás información importante que te ayudará a desempeñar mejor tu trabajo, nuestros resultados  y conocerás más la empresa donde trabajas.</h3>
            <div class="card card-block">
              <h8 class="card-title" ng-bind-html=""></h8>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3> Noticias</h3>

  <div class="row">
    <div class="col-sm-12">
      <div data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-jarvis-widget="data-jarvis-widget" ng-repeat="noticia in hom.noticias">
        <header>
          <h2>{{noticia.nombre}}</h2>
        </header>
        <div>
          <div class="widget-body">
           <div class="col-sm-12" >
            <h3 class="card-header">{{noticia.titulo}}</h3>
            <div class="card card-block">
              <h8 class="card-title" ng-bind-html="noticia.nota"></h8>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <h3> Articulos</h3>

  <div class="well padding-10" ng-repeat="articulo in hom.articulos">
  <div class="row">
    <div class="col-md-4">
      <img ng-src="{{articulo.imagen}}" class="img-responsive" alt="img">
    </div>
    <div class="col-md-8 padding-left-0">
      <h3 class="margin-top-0"><p>{{articulo.titulo}} <span class="pull-right">{{articulo.fecha | date:"dd-MM-yyyy"}}</span> <br/> </p><br><small class="font-xs"><i>Publicado Por <a href="javascript:void(0);">{{articulo.nombre}}</a></i></small> <span class=" margin-top-0 pull-right">{{art.getCategoria(articulo.categoriasArt_id)}}</span>  </h3>
      <span ng-bind-html="articulo.nota"></span>
      <br/>
      <a class="btn btn-primary" ng-click="art.editar(articulo._id)" ng-show="art.tienePermiso()">Editar</a>
      <a class="btn btn-danger" ng-click="art.cambiarEstatus(articulo._id)" ng-show="art.tienePermiso()">Desactivar</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-jarvis-widget="data-jarvis-widget" >
      <header>
        <h2>Explora</h2>
      </header>
      <div>
        <div class="widget-body">
         <div class="col-sm-12" >
          <h3 class="card-header">Te invitamos a conocer las secciones de nuestro Muro Web y su contenido, tales como Eventos, Librero y la Sección de resultados.
           
          Conoce más de tu Empresa en Quienes Somos.
          </h3>
          <div class="card card-block">
            <h8 class="card-title" ng-bind-html=""></h8>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="col-sm-6">
    <div data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-jarvis-widget="data-jarvis-widget" >
      <header>
        <h2>Eventos</h2>
      </header>
      <div>
        <div class="widget-body">
          <div class="col-sm-12" >
            <h3 class="card-header">
            En esta sección, podrás encontrar...
            </h3>
            <div class="card card-block">
              <h8 class="card-title" ng-bind-html=""></h8>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="col-sm-6">
    <div data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-jarvis-widget="data-jarvis-widget" >
      <header>
        <h2>Librero</h2>
      </header>
      <div>
        <div class="widget-body">
          <div class="col-sm-12" >
            <h3 class="card-header">
            En esta sección, podrás encontrar...
            </h3>
            <div class="card card-block">
              <h8 class="card-title" ng-bind-html=""></h8>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <div class=" pull-right col-sm-6">
    <div data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-jarvis-widget="data-jarvis-widget">
      <header>
        <h2>Resultados</h2>
      </header>
      <div>
        <div class="widget-body">
          <div class="col-sm-12" >
            <h3 class="card-header">
            En esta sección, podrás encontrar...

            </h3>
            <div class="card card-block">
              <h8 class="card-title" ng-bind-html=""></h8>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

</div>


</section>



<div class="container" >
  
  
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Felicita a tu compañero en su dia</h4>
        </div>
      
        <div class="modal-body" ng-repeat="(key,cumpleanero) in hom.cumpleaneros">
      
          <img src="{{cumpleanero.imagen}}" alt="img" width="60px" height="70px" class="online">
          <span class="name font-sm">  <b>  {{cumpleanero.nombre}} {{cumpleanero.apPaterno}} {{cumpleanero.apMaterno}} <span class="pull-right font-xs text-muted"><i></i></span> </b>
          <span class="name font-sm">{{cumpleanero.departamento}}</span>
            <div class="pull-right col-sm-6">
            <div class="row" >

              <input type="text" class="form-control" placeholder="Escribe tu comentario aqui" ng-model="feli.key">
              <button  type="button" class="btn btn-primary" ng-click="hom.guardarFeli(feli.key, cumpleanero._id)">Felicitar</button>
              <br/>
             
            </div>
            </div>
          
      
          </span>
          <br>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      
    </div>
  </div>
</div>
</div>

