<h2>Notas</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{not.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevonoticia" ng-click="not.nuevoNoticia()">
		 {{not.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		
		<div class="collapse" id="collapseExample">
			<form class="form-horizontal" role="form" data-parsley-validate>
		  	<div class="well">	    
			    <div class="row">
			    	<div class="col-sm-12">		 			  
					    <div class="col-sm-4">
						    <label>Nombre completo</label>
					    	<input type="text" class="form-control" placeholder="Nombre" ng-model="not.noticia.nombre" required>
					    </div>
					    <div class="row">
					    <div class="col-sm-12">		
					     <div class="col-sm-8">
					    <label>Escribe tu nota</label>
					    <textarea class="form-control" placeholder="" ng-model="not.noticia.nota"></textarea>
			    	</div>
			    	</div>
			    	</div>
					     
			    	</div>
			    </div>  
			    </div> 
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" ng-click="not.guardar(not.noticia)" value="Guardar" class="btn btn-primary" ng-show="not.action">
						<input type="submit" ng-click="not.actualizar(not.noticia)" value="Actualizar" class="btn btn-primary" ng-show="!not.action">	
					</div>
				</div>
				  
		  </form>
		</div>
	</div>
</div>
<br/>



<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
                <thead>
                	<tr>
                	<th width="5%"><div class="text-center">No.</div></th>
					<th width="20%"><div class="text-center">Nombre completo</div></th>
					<th width="40%"><div class="text-center">Nota </div></th>
			
										
					
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="10%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="noticia in not.noticias">
		        <td>{{$index+1}}</td>
			    <td>{{noticia.nombre}}</td>
			    <td>{{noticia.nota}}</td>

			    <td>
				    <div class="text-center">
				    	<span ng-if="noticia.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!noticia.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="not.editar(noticia._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							  <li><a href="#" ng-click="not.cambiarEstatus(noticia._id)"><i class="fa fa-trash"></i> Desactivar</a></li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>

