<h2>Tickets</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{tick.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevodepartamento" ng-click="tick.nuevoDepartamento()">
		 {{tick.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		
		<div class="collapse" id="collapseExample">
			<form class="form-horizontal" role="form" data-parsley-validate>
		  	<div class="well">	    
			    <div class="row">
			    	<div class="col-sm-12">	
			    	<div class="row">	 			  
					    <div class="col-sm-4">
						<label>Departamento</label>
						<select class="form-control select2" placeholder="Seleccione" ng-model="tick.ticket.departamento_id">
						  <option ng-repeat="departamento in tick.departamentos" value="{{departamento._id}}">
						  	{{departamento.nombre}}
						  </option>
						</select>
					</div>
					  <div class="col-sm-4">
						    <label>Titulo</label>
					    	<input type="text" class="form-control" placeholder="Titulo" ng-model="tick.ticket.titulo" required>
					    </div> 
					</div>
					
					<br/>
					<br/>

					
					<div class="row">
					<div class="col-sm-6">
					    <input id="summernote"  ng-model="tick.ticket.nota" >
			    	</div>
			    	</div>
			    	</div>
			    	</div>
			   	
			    </div>  
			  
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" ng-click="tick.guardar(tick.ticket)" value="Enviar" class="btn btn-primary" ng-show="tick.action">
						<!--<input type="submit" ng-click="tick.actualizar(ticket)" value="Actualizar" class="btn btn-primary" ng-show="!tick.action">	-->

					</div>
				</div>
				  
		  </form>
		</div>
	</div>
</div>
<br/>



<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
                <thead>
                	<tr>
                	<th width="15%"><div class="text-center">Usuario Emisor</div></th>
					<th width="20%"><div class="text-center">Envía</div></th>
					<th width="20%"><div class="text-center">Fecha </div></th>
					<th width="20%"><div class="text-center">Recibe</div></th>
					<!--<th width="15%"><div class="text-center">Usuario Receptor</div></th>-->
					<th width="40%"><div class="text-center">Descripción</div></th>				
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="10%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="ticket in tick.tickets">
		        <td>{{tick.getEmisor(ticket.emisor_id)}}</td>
			    <td>{{tick.getDepartamento(ticket.departamentoEmisor_id)}}</td>
			    <td>{{ticket.fecha | date:"dd-MM-yyyy"}}</td>
			    <td>{{tick.getDepartamento(ticket.departamentoReceptor_id)}}</td> 

			    <td ng-bind-html="ticket.nota"></td>

			    

			    <td>
				    <div class="text-center">
				    	<span ng-if="ticket.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!ticket.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <!--<li><a href="#" ng-click="tick.editar(ticket._id)"><i class="fa fa-pencil"></i> Editar</a></li>-->
							  <li><a href="#" ng-click="tick.cambiarEstatus(ticket._id)"><i class="fa fa-trash"></i> Desactivar</a></li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>

