<h2>Categorias de Libreros</h2>
<div class="row">
	<div class="col-sm-12">
	<a class="btn btn-{{catelib.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevocategoriasLibrero" ng-click="catelib.nuevoCategoriasLibrero()">
		 {{catelib.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
	<div class="collapse" id="collapseExample">
			<form class="form-horizontal" role="form" data-parsley-validate>
		  	<div class="well">	    
			    <div class="row">
			    	<div class="col-sm-12">			 			  
					  	
					    <div class="col-sm-4">
						    <label>Nombre</label>
					    	<input type="text" class="form-control" placeholder="Nombre" ng-model="catelib.categoriasLibrero.nombre">
					    </div>
					    </div>
			    	</div>
			    </div>  
				<div class="row">
					<div class="col-sm-12 file_button_container" >
						<input type="submit" ng-click="catelib.guardar(categoriasLibrero)" value="Guardar" class="btn btn-primary" ng-show="catelib.action">
						<input type="submit" ng-click="catelib.actualizar(categoriasLibrero)" value="Actualizar" class="btn btn-primary" ng-show="!catelib.action">	

					</div>
				</div>
				  
		  </form>
		</div>
		</div>
	</div>
<br/>



<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
      <thead>
      	<tr>   
      	            <th width="5%"><div class="text-center">No.</div></th>
					<th width="20%"><div class="text-center">Nombre</div></th>
				
					<!--<th width="25%"><div class="text-center">Fecha </div></th>-->
					
				
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="10%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="categoriasLibrero in catelib.categoriasLibreros">
			    <td>{{$index+1}}</td>
			    <td>{{categoriasLibrero.nombre}}</td>		 
			   
			    <!--<td>{{catelibgoria.fecha}}</td>-->
			 

			    <td>
				    <div class="text-center">
				    	<span ng-if="categoriasLibrero.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!categoriasLibrero.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="catelib.editar(categoriasLibrero._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							  <li><a href="#" ng-click="catelib.cambiarEstatus(categoriasLibrero._id)"><i class="fa fa-trash"></i> Desactivar</a></li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>




