<!--
EJEMPLO DE COMO AGREGAR ELEMENTOS
A LA BARRA LATERAL

<ul data-smart-menu>
  <li data-ui-sref-active="active">
    <a data-ui-sref="app.dashboard" title="Dashboard">
      <i class="fa fa-lg fa-fw fa-home"></i>
      <span class="menu-item-parent">Dashboard</span>
    </a>
  </li>
  <li data-menu-collapse>
    <a href="#">
      <i class="fa fa-lg fa-fw fa-bar-chart-o"></i>
      <span class="menu-item-parent">Graphs</span>
    </a>
    <ul>
      <li data-ui-sref-active="active">
         <a data-ui-sref="app.graphs.flot">Flot Chart</a>
      </li>
      <li data-ui-sref-active="active">
          <a data-ui-sref="app.graphs.morris">Morris Charts</a>
      </li>
    </ul>

  </li>
</ul>
-->

<nav>
	<ul data-smart-menu>
	 <li data-ui-sref-active="active">
		      <a ui-sref="root.home" tilte="Home">
		        <i class="fa fa-lg fa-fw fa-home"></i>
		        <span class="menu-item-parent">Inicio</span>
		      </a>
		    </li>
	<li data-ui-sref-active="active">
		      <a ui-sref="root.articulosUser">
		        <i class="fa fa-lg fa-fw fa-bars"></i>
		        <span class="menu-item-parent">Articulos</span>
		      </a>
		    </li>
		    <li data-ui-sref-active="active">
		      <a ui-sref="root.noticias">
		        <i class="fa fa-lg fa-fw fa fa-archive"></i>
		        <span class="menu-item-parent">Noticias</span>
		      </a>
		    </li>       
	  <li data-menu-collapse>
	    <a href="#">
	      <i class="fa fa-lg fa-fw fa-bar-chart-o"></i>
	      <span class="menu-item-parent">Resultados</span>
	    </a>
	    <ul>
		 <li>
	    <a ui-sref="root.categorias">
	      <i class="fa fa-lg fa-fw fa-bars"></i>
	      <span class="menu-item-parent">Categorias</span>
	    </a>
	
		    </li>	
		
	    </ul>

	  </li>
	   <li data-menu-collapse>
	    <a href="#">
	      <i class="fa fa-lg fa-fw fa fa-book"></i>
	      <span class="menu-item-parent">Librero</span>
	    </a>
	     <ul>
	      <li>
	    <a href="#">
	      <i class="fa fa-lg fa-fw fa-bar-chart-o"></i>
	      <span class="menu-item-parent">Categorias</span>
	    </a>
	    <ul>
	    	<li>
		      <a ui-sref="root.archivos">
		        <i class=""></i>
		        <span class="menu-item-parent">Archivos</span>
		      </a>
		    </li>
	    </ul>
		    </li>
		    </ul>
	     </li>
	     <li>
		      <a ui-sref="root.eventos">
		        <i class="fa fa-lg fa-fw fa-calendar-o"></i>
		        <span class="menu-item-parent">Eventos</span>
		      </a>
		    </li>
		    <li data-menu-collapse>
		      <a ui-sref="root.tickets">
		        <i class="fa fa-lg fa-fw  fa-tag"></i>
		        <span class="menu-item-parent">Tickets</span>
		      </a>
		          <ul>
		      	 <li>
		      <a ui-sref="root.listaTickets">
		        <i class="fa fa-lg fa-fw fa-users"></i>
		        <span class="menu-item-parent">Lista de Tickets</span>
		      </a>
		    </li>
		      </ul>
		    </li>
		  
		    <li>
		      <a ui-sref="root.mercas">
		        <i class="fa fa-lg fa-fw fa-users"></i>
		        <span class="menu-item-parent">Mercadotecnia</span>
		      </a>
		    </li>
		      <li data-menu-collapse>
	    <a href="#">
	      <i class="fa fa-lg fa-fw fa-bar-chart-o"></i>
	      <span class="menu-item-parent">Quienes somos</span>
	    </a>
	    <ul>
	      <li>
		      <a ui-sref="root.listas">
		        <i class="fa fa-lg fa-fw fa-users"></i>
		        <span class="menu-item-parent">Lista de Empleados</span>
		      </a>
		    </li>
	    </ul>
	    </li>
  </ul>
</nav>