<h2>Archivos</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{archi.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevoarchivos" ng-click="archi.nuevoArchivos()">
		 {{archi.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		
		<div class="collapse" id="collapseExample">
			<form class="form-horizontal" role="form">
		  	<div class="well">	    
			    <div class="row">
			    	<div class="col-sm-12">		 			  
					    <div class="col-sm-4">
						    <label>Nombre</label>
					    	<input type="text" class="form-control" placeholder="Nombre" ng-model="archi.archivo.nombre">
					    </div>	

					    <div class="col-sm-6">
					    	<label>Descripción</label>
								<textarea class="form-control" placeholder="Descripción" ng-model="archi.archivo.descripcion"></textarea>
			    		</div>					    					     
			    	</div>
			    </div>  
			    <div class="row">
			    	<div class="col-sm-12">
			    <div class="col-sm-4">
						    <label>Seleccionar archivo</label>
					    	<input type="text" class="form-control" placeholder="Nombre" ng-model="archi.archivo.select">
					    </div>	
			    	</div>
			    </div>
			  </div> 
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" ng-click="archi.guardar(archi.archivo)" value="Guardar" class="btn btn-primary" ng-show="archi.action">
						<input type="submit" ng-click="archi.actualizar(archi.archivo)" value="Actualizar" class="btn btn-primary" ng-show="!archi.action">	
					</div>
				</div>				  
		  </form>
		</div>
	</div>
</div>
<br/>



<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
      <thead>
      	<tr>
	      	
					<th width="20%"><div class="text-center">Nombre</div></th>
					
					<th width="25%"><div class="text-center">Descripción</div></th>
					<th width="25%"><div class="text-center">Archivo </div></th>
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="10%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="archivo in archi.archivos">
			    <td>{{$index+1}}</td>
			    <td>{{archivo.nombre}}</td>		 
			    <td>{{archivo.descripcion}}</td>
			    <td>{{archivo.select}}</td>

			    <td>
				    <div class="text-center">
				    	<span ng-if="archivo.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!archivo.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="archi.editar(archivo._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							  <li><a href="#" ng-click="archi.cambiarEstatus(archivo._id)"><i class="fa fa-trash"></i> Desactivar</a></li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>
