<h2>Asesor de ventas</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{asesor.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevoasesorVenta" ng-click="asesor.nuevoAsesorVenta()">
	 {{asesor.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		<div class="collapse" id="collapseExample">
			<form class="form-horizontal" role="form" data-parsley-validate>
		  	<div class="well">	    
			    <div class="row">
			    	<div class="col-sm-4">					    
				    	<label>Usuario</label>
				    	<input type="text" class="form-control" placeholder="Usuario" ng-model="asesor.asesorVenta.usuario" required>
			    	</div>
			    	<div class="col-sm-4">					    
				    	<label>Contraseña</label>
				    	<input type="password" class="form-control" placeholder="Contraseña" ng-model="asesor.asesorVenta.contrasena" required>
			    	</div>		    				    	    
			    	<div class="col-sm-4">					    
				    	<label>Confirmar Contraseña</label>
				    	<input type="password" class="form-control" placeholder="Confirmar Contraseña" ng-model="asesor.asesorVenta.confirmarContrasena" required>
					</div>
			    	<div class="col-sm-4">
			    		<label>Nombre </label>
				    	<input type="text" class="form-control" placeholder="Nombre" ng-model="asesor.asesorVenta.nombre" required>
			    	</div>

			    	<div class="col-sm-4">
			    		<label>Apellido Paterno </label>
				    	<input type="text" class="form-control" placeholder="Apellido Paterno" ng-model="asesor.asesorVenta.apPaterno" required>
			    	</div>
			    	<div class="col-sm-4">
			    		<label>Apellido Materno</label>
				    	<input type="text" class="form-control" placeholder="Apellido Materno" ng-model="asesor.asesorVenta.apMaterno" required>
			    	</div>
			    	<div class="col-sm-4">
						<label for="fechaNac">Fecha de nacimiento</label>
						<input date-time class="form-control" view="year" max-view="year" min-view="date" ng-model="asesor.asesorVenta.fechaNac">
					</div>
					<div class="col-sm-4">
						<label>Fecha de Ingreso</label>
						<input date-time class="form-control" view="year" max-view="year" min-view="date" ng-model="asesor.empleado.fechaIn">
					</div>
			    	<div class="col-sm-4">
			    		<label>Dirección</label>
				    	<input type="text" class="form-control" placeholder="Dirección" ng-model="asesor.asesorVenta.direccion" required>
			    	</div>
			    	<div class="col-sm-4">
			    		<label>Teléfono</label>
				    	<input type="text" class="form-control" placeholder="Teléfono" ng-model="asesor.asesorVenta.telefono" required>
			    	</div>
			    	<div class="col-sm-4">
			    		<label>Correo</label>
				    	<input type="text" class="form-control" placeholder="Correo" ng-model="asesor.asesorVenta.correo" required>
			    	</div>
			    	<div class="col-sm-4">
						<label>Departamento</label>
						<select class="form-control select2" placeholder="Seleccione" ng-model="asesor.asesorVenta.departamento_id">
						  <option ng-repeat="departamento in asesor.departamentos" value="{{departamento._id}}">
						  	{{departamento.nombre}}
						  </option>
						</select>
							</div>

			    	<!--
			    	<div class="col-sm-4">
						<label >Departamento academico</label>
						<ui-select ng-model="emp.asesorVenta.deptoAcademico_id"
					             theme="bootstrap"
					             ng-disabled="disabled"
					             reset-search-input="false">
					    <ui-select-match placeholder="Seleccione">{{$select.selected.descripcionCorta}}</ui-select-match>
					    <ui-select-choices repeat="emp.deptoAcademico._id as deptoAcademico in deptosAcademicos | filter: $select.search">
					      <div ng-bind-html="deptoAcademico.descripcionCorta | highlight: $select.search"></div>
					    </ui-select-choices>
					  </ui-select>
					</div>-->

			    	  <div class="col-sm-4">
						    <label>Imagen</label>
					    	<input type="text" class="form-control" placeholder="Imagen" ng-model="asesor.asesorVenta.imagen" required>
					    </div>

					</div>				
				</div>
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" ng-click="asesor.guardar(asesorVenta)" value="Guardar" class="btn btn-primary" ng-show="asesor.action">
						<input type="submit" ng-click="asesor.actualizar(asesorVenta)" value="Actualizar" class="btn btn-primary" ng-show="!asesor.action">				
					</div>
				</div>	  
		  </form>
		</div>
	</div>
</div>

<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="10%"><div class="text-center">Foto</div></th>
					<th width="10%"><div class="text-center">Nombre</div></th>
					<th width="15%"><div class="text-center">Departamento</div></th>
					<th width="15%"><div class="text-center">Dirección </div></th>
					<th width="10%"><div class="text-center">Teléfono</div></th>
					<th width="10%"><div class="text-center">correo</div></th>
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="7%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="asesorVenta in asesor.asesorVentas">
		    	<td><img width="200px" ng-src="{{aesorVenta.imagen}} "></td>
			    <td>{{asesorVenta.nombre}} {{asesorVenta.apPaterno}} {{asesorVenta.apMaterno}}</td>
			    <td> {{asesor.getDepartamento(asesorVenta.departamento_id)}}</td>
			    <td>{{asesorVenta.direccion}} </td>
			    <td>{{asesorVenta.telefono}} </td>
			    <td>{{asesorVenta.correo}} </td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="asesorVenta.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!asesorVenta.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="asesor.editar(asesorVenta._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							  <li><a href="#" ng-click="asesor.cambiarEstatus(asesorVenta._id)"><i class="fa fa-trash"></i> Desactivar</a></li>
							  </ul>
							</div>
				    </div>	
				 			    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>


