<h2>Empleados</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{emp.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevoempleado" ng-click="emp.nuevoEmpleado()">
	 {{emp.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		<div class="collapse" id="collapseExample">
			<form class="form-horizontal" role="form" data-parsley-validate>
		  	<div class="well">	    
			    <div class="row">
			    	<div class="col-sm-4">					    
				    	<label>Usuario</label>
				    	<input type="text" class="form-control" placeholder="Usuario" ng-model="emp.empleado.usuario" >
			    	</div>
			    	<div class="col-sm-4">					    
				    	<label>Contraseña</label>
				    	<input type="password" class="form-control" placeholder="Contraseña" ng-model="emp.empleado.contrasena" >
			    	</div>		    				    	    
			    	<div class="col-sm-4">					    
				    	<label>Confirmar Contraseña</label>
				    	<input type="password" class="form-control" placeholder="Confirmar Contraseña" ng-model="emp.empleado.confirmarContrasena" >
					</div>
			    	<div class="col-sm-4">
			    		<label>Nombre </label>
				    	<input type="text" class="form-control" placeholder="Nombre" ng-model="emp.empleado.nombre" >
			    	</div>

			    	<div class="col-sm-4">
			    		<label>Apellido Paterno </label>
				    	<input type="text" class="form-control" placeholder="Apellido Paterno" ng-model="emp.empleado.apPaterno" >
			    	</div>
			    	<div class="col-sm-4">
			    		<label>Apellido Materno</label>
				    	<input type="text" class="form-control" placeholder="Apellido Materno" ng-model="emp.empleado.apMaterno" >
			    	</div>
			    	<div class="col-sm-4">
						<label for="fechaNac">“Cumpleaños </label>
						<input date-time class="form-control" view="year" max-view="year" min-view="date" ng-model="emp.empleado.fechaNac">
					</div>
					<div class="col-sm-4">
						<label>Aniversario En Empresa</label>
						<input date-time class="form-control" view="year" max-view="year" min-view="date" ng-model="emp.empleado.fechaIn">
					</div>
			    
			    	<div class="col-sm-4">
			    		<label>Teléfono</label>
				    	<input type="text" class="form-control" placeholder="Teléfono" ng-model="emp.empleado.telefono" >
			    	</div>
			    	<div class="col-sm-4">
			    		<label>Correo</label>
				    	<input type="text" class="form-control" placeholder="Correo" ng-model="emp.empleado.correo" >
			    	</div>
			    	<div class="col-sm-2">
						<label>Departamento</label>
						<select  id="depa" class="form-control select2" placeholder="Seleccione" ng-model="emp.empleado.departamento_id">
						 <option>No soy departamento</option>
						  <option ng-click="selectDepa" ng-repeat="departamento in emp.departamentos" value="{{departamento._id}}">
						  	{{departamento.nombre}}
						  </option>
						</select>
							</div>
							<div class="col-sm-2">
						<label>Sucursal</label>
						<select id="sucu" class="form-control select2" placeholder="Seleccione" ng-model="emp.empleado.sucursale_id">
						<option ng-click="emp.desSelect()">No soy sucursal</option>
						  <option ng-click="selectSucu"  ng-repeat="sucursale in emp.sucursales" value="{{sucursale._id}}">
						  	{{sucursale.nombre}}
						  </option>
						</select>
							</div>
			    	  <div class="col-sm-4">
						    <label>Imagen</label>
					    	<input type="text" class="form-control" placeholder="Imagen" ng-model="emp.empleado.imagen" >
					    </div>

					</div>				
				</div>
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" ng-click="emp.guardar(emp.empleado)" value="Guardar" class="btn btn-primary" ng-show="emp.action">
						<input type="submit" ng-click="emp.actualizar(emp.empleado)" value="Actualizar" class="btn btn-primary" ng-show="!emp.action">				
					</div>
				</div>	  
		  </form>
		</div>
	</div>
</div>

<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="10%"><div class="text-center">Foto</div></th>
					<th width="10%"><div class="text-center">Nombre</div></th>
					<th width="5%"><div class="text-center">Departamento</div></th>
					<th width="10%"><div class="text-center">Sucursal</div></th>
					
					<th width="15%"><div class="text-center">Cumpleaños de {{emp.empleado.nombre}} </div></th>
					<th width="15%"><div class="text-center">Aniversario en la Empresa </div></th>
					<th width="10%"><div class="text-center">Teléfono</div></th>
					<th width="10%"><div class="text-center">correo</div></th>
					<th width="5%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="7%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="empleado in emp.empleados">
		    	<td><img width="50px" ng-src="{{empleado.imagen}} "></td>
			    <td>{{empleado.nombre}} {{empleado.apPaterno}} {{empleado.apMaterno}}</td>
			    <td>{{emp.getDepartamento(empleado.departamento_id)}}</td>
			    <td>{{emp.getSucursal(empleado.sucursale_id)}}</td>
			    <td>{{empleado.fechaNac | date:"dd-MM-yyyy"}} </td>
			    <td>{{empleado.fechaIn | date:"dd-MM-yyyy"}} </td>
			    <td>{{empleado.telefono}} </td>
			    <td>{{empleado.correo}} </td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="empleado.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!empleado.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="emp.editar(empleado._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							  <li><a href="#" ng-click="emp.cambiarEstatus(empleado._id)"><i class="fa fa-trash"></i> Desactivar</a></li>
							  </ul>
							</div>
				    </div>	
				 			    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>


