<h2>Jefes de Area</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{jefe.new == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevojefeArea" ng-click="jefe.nuevoJefeArea()">
	 {{jefe.new == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		<div class="collapse" id="collapseExample">
			<form class="form-horizontal" role="form" data-parsley-validate>
		  	<div class="well">	    
			    <div class="row">
			    	<div class="col-sm-4">					    
				    	<label>Usuario</label>
				    	<input type="text" class="form-control" placeholder="Usuario" ng-model="jefe.jefeArea.usuario" >
			    	</div>
			    	<div class="col-sm-4">					    
				    	<label>Contraseña</label>
				    	<input type="password" class="form-control" placeholder="Contraseña" ng-model="jefe.jefeArea.contrasena" >
			    	</div>		    				    	    
			    	<div class="col-sm-4">					    
				    	<label>Confirmar Contraseña</label>
				    	<input type="password" class="form-control" placeholder="Confirmar Contraseña" ng-model="jefe.jefeArea.confirmarContrasena" >
					</div>
			    	<div class="col-sm-4">
			    		<label>Nombre </label>
				    	<input type="text" class="form-control" placeholder="Nombre" ng-model="jefe.jefeArea.nombre" >
			    	</div>

			    	<div class="col-sm-4">
			    		<label>Apellido Paterno </label>
				    	<input type="text" class="form-control" placeholder="Apellido Paterno" ng-model="jefe.jefeArea.apPaterno" >
			    	</div>
			    	<div class="col-sm-4">
			    		<label>Apellido Materno</label>
				    	<input type="text" class="form-control" placeholder="Apellido Materno" ng-model="jefe.jefeArea.apMaterno" >
			    	</div>
			    	<div class="col-sm-4">
						<label for="fechaNac">Cumpleaños </label>
						<input date-time class="form-control" view="year" max-view="year" min-view="date" ng-model="jefe.jefeArea.fechaNac">
					</div>
					<div class="col-sm-4">
						<label>Aniversario en la empresa</label>
						<input date-time class="form-control" view="year" max-view="year" min-view="date" ng-model="jefe.jefeArea.fechaIn">
					</div>
			    	
			    	<div class="col-sm-4">
			    		<label>Teléfono</label>
				    	<input type="text" class="form-control" placeholder="Teléfono" ng-model="jefe.jefeArea.telefono" >
			    	</div>
			    	<div class="col-sm-4">
			    		<label>Correo</label>
				    	<input type="text" class="form-control" placeholder="Correo" ng-model="jefe.jefeArea.correo" >
			    	</div>
			    	<div class="col-sm-4">
						<label>Departamento</label>
						<select class="form-control select2" placeholder="Seleccione" ng-model="jefe.jefeArea.departamento_id">
						  <option ng-repeat="departamento in jefe.departamentos" value="{{departamento._id}}">
						  	{{departamento.nombre}}
						  </option>
						</select>
							</div>
			    	  <div class="col-sm-4">
						    <label>Imagen</label>
					    	<input type="text" class="form-control" placeholder="Imagen" ng-model="jefe.jefeArea.imagen" >
					    </div>
					</div>				
				</div>
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" ng-click="jefe.guardar(jefe.jefeArea)" ng-model="jefe.jefeArea.actividad" value="Guardar" class="btn btn-primary" ng-show="jefe.action">
						<input type="submit" ng-click="jefe.actualizar(jefe.jefeArea)" value="Actualizar" class="btn btn-primary" ng-show="!jefe.action">				
					</div>
				</div>	  
		  </form>
		</div>
	</div>
</div>

<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="10%"><div class="text-center">Foto</div></th>
					<th width="10%"><div class="text-center">Nombre</div></th>
					<th width="15%"><div class="text-center">Departamento</div></th>
					<th width="10%"><div class="text-center">Teléfono</div></th>
					<th width="10%"><div class="text-center">correo</div></th>
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="7%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="jefeArea in jefe.jefeAreas">
		    	<td><img width="50px" ng-src="{{jefeArea.imagen}} "></td>
			    <td>{{jefeArea.nombre}} {{jefeArea.apPaterno}} {{jefeArea.apMaterno}}</td>
			    <td> {{jefe.getDepartamento(jefeArea.departamento_id)}}</td>
			    <td>{{jefeArea.telefono}} </td>
			    <td>{{jefeArea.correo}} </td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="jefeArea.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!jefeArea.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="jefe.editar(jefeArea._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							  <li><a href="#" ng-click="jefe.cambiarEstatus(jefeArea._id)"><i class="fa fa-trash"></i> Desactivar</a></li>
							  </ul>
							</div>
				    </div>	
				 			    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>


