<h2>Sucursales</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{sucu.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevosucursales" ng-click="sucu.nuevoSucursales()">
	 {{sucu.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		<div class="collapse" id="collapseExample">
			<form class="form-horizontal" role="form" data-parsley-validate>
		  	<div class="well">	    
			    <div class="row">
			    	<div class="col-sm-4">
			    		<label>Nombre </label>
				    	<input type="text" class="form-control" placeholder="Nombre" ng-model="sucu.sucursales.nombre" >
			    	</div>
			    	<div class="col-sm-4">
			    		<label>Dirección</label>
				    	<input type="text" class="form-control" placeholder="Dirección" ng-model="sucu.sucursales.direccion" >
			    	</div>
			    	<div class="col-sm-4">
			    		<label>Teléfono</label>
				    	<input type="text" class="form-control" placeholder="Teléfono" ng-model="sucu.sucursales.telefono" >
			    	</div>
			    	<div class="col-sm-4">
			    		<label>Correo</label>
				    	<input type="text" class="form-control" placeholder="Correo" ng-model="sucu.sucursales.correo" >
			    	</div>

			    	  <div class="col-sm-4">
						    <label>Imagen</label>
					    	<input type="text" class="form-control" placeholder="Imagen" ng-model="sucu.sucursales.imagen" >
					    </div>

					</div>				
				</div>
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" ng-click="sucu.guardar(sucu.sucursales)" value="Guardar" class="btn btn-primary" ng-show="sucu.action">
						<input type="submit" ng-click="sucu.actualizar(sucu.sucursales)" value="Actualizar" class="btn btn-primary" ng-show="!sucu.action">				
					</div>
				</div>	  
		  </form>
		</div>
	</div>
</div>

<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="10%"><div class="text-center">Foto</div></th>
					<th width="10%"><div class="text-center">Nombre</div></th>
					<th width="15%"><div class="text-center">Dirección </div></th>
					<th width="10%"><div class="text-center">Teléfono</div></th>
					<th width="10%"><div class="text-center">correo</div></th>
					<th width="5%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="7%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="sucursales in sucu.sucursaless">
		    	<td><img width="50px" ng-src="{{sucursales.imagen}} "></td>
			    <td>{{sucursales.nombre}}</td>
			    <td>{{sucursales.direccion }} </td>
			    <td>{{sucursales.telefono}} </td>
			    <td>{{sucursales.correo}} </td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="sucursales.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!sucursales.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="sucu.editar(sucursales._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							  <li><a href="#" ng-click="sucu.cambiarEstatus(sucursales._id)"><i class="fa fa-trash"></i> Desactivar</a></li>
							  </ul>
							</div>
				    </div>	
				 			    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>
